body
{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}
.container
{
    flex:1;
}
.navbar
{
    height:5rem;
    background-color:white;
}
.fa-compass
{
    color:orangered;
    font-size:2rem;
}
.nav-link
{
    color:#222222 !important;
}

.f-info-links a
{
    text-decoration:none;
}
.f-info-social i{
    font-size:1.2rem;
    margin-right:1rem;
}
.f-info-links a:hover
{
    text-decoration:underline;
    color: #000;
}
.f-info
{ text-align:center;
    display:flex;
    flex-wrap:wrap;
    height:8rem;
    justify-content:center;
    align-items:space-evenly;
    background-color:rgba(128, 128, 128, 0.103);
}

.f-info-links,.f-info-social,.f-info-brand{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.listingcard
{
    border:none !important;
    margin-bottom:2rem;
}
.card-img-top
{
    border-radius:1rem !important;
    width:100%;
    object-fit:cover !important;
}
.card-body
{
    padding:0;
}
.card-text p
{
    font-weight:400;
}
.listing-link
{
    text-decoration:none;
    color:black; 
}

/* .card-img-overlay
{
    opacity:0;
}
.card-img-overlay:hover
{
    opacity:0.2;
    background-color:white;
} */
.add-btn,.edit-btn
{
    background-color:orangered !important;
    border:none !important;
}
.show-img
{
    height:30vh;
}
.btns
{
    display:flex;
}
.show-card
{
    padding-left:0;
    padding-right:0;
}